<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 [hidden]="hideTitle" >
    Welcome to {{ title }}!
  </h1>


</div>
<div id="container">
  <h3>Please enter into {{1+1}} empty boxes in order for your input to display:</h3>
<div id="userInput">
  Adverb: <input [(ngModel)]="adverb" ng-model="name" type="text" placeholder="adverb"/>
  Noun: <input [(ngModel)]="noun" ng-model="name" type="text"placeholder="noun"/>
  
</div>
<!-- <button (click)="showHide = !showHide">click</button> -->
<div id='fillInTheBlank' ng-controller="Cntl1">
  <span>Angular is <p ng-hide="hide">{{ adverb }}</p>fun! It is built using the <p>{{ noun }}</p> design pattern.</span>
</div>

<button (click)="toggleHeader()">Click</button>
</div>

